<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        autoReload="true" 
        internalLogLevel="Info" 
        internalLogFile="nlog-tests-output/nlog-10-internal.log"
		>
        <variable value="ML_POC_A" 
                name="appName"/>
        <variable value="nlog-output-dev" 
                name="logLocation"/>

        <!-- enable asp.net core layout renderers -->
        <extensions>
                <add assembly="NLog.Web.AspNetCore"/>
        </extensions>

        <!-- the targets to write to -->
        <targets>
                <!-- write logs to file  -->
                <target xsi:type="File" 
                        name="allfile" 
                        fileName="${logLocation}/nlog-all-${shortdate}.log" 
                        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

                <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
                <target xsi:type="File" 
                        name="ownFile-web" 
                        fileName="${logLocation}/nlog-own-${shortdate}.log" 
                        layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

                <!-- Nlog test file - Text Format-->
                <target xsi:type="File" 
                        name="nlog-test-page-Text" 
                        fileName="${logLocation}/nlog-test-${shortdate}.log" 
                        layout="${longdate}| LVL: ${uppercase:${level}}| SESS_ID: ${aspnet-sessionid}| LOGGER: ${logger}| MESG: ${message} | ${onexception:inner=${newline}EXCEPTION\: ${newline}${exception:format=tostring}${newline}STACK\: ${newline}${stacktrace:format=Raw}}| URL: ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}| USERAGENT: ${aspnet-request-useragent}| ISAUTH: ${aspnet-user-isAuthenticated}| ASMBLYVER: ${assembly-version:type=Informational}| MC_NAME: ${machinename}| IP: ${aspnet-request-ip}| COOKIE: $${aspnet-request-cookie:cookieNames=mlpoca-session-tag:outputFormat=Json}| ${when:when='${aspnet-user-isAuthenticated}' == '1':inner=USER\: ${aspnet-user-identity}:else=USER\: Anonymous}| ${aspnet-user-identity}| {end-of-entry}" />
                <!-- 
                todo: Debug foll
                        $CALLSITE: {callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}
                        $LINE: {callsite-linenumber:skipFrames=0} ${when:when='${aspnet-user-isAuthenticated}' == '1':inner=USER\: ${aspnet-user-identity}:else=USER\: Anonymous}
                -->

                <!-- Nlog test file - JSON Format-->
                <target name="nlog-test-page-JSON" 
                        xsi:type="File" 
                        fileName="${logLocation}/nlog-test-${shortdate}.json">
                        <layout xsi:type="JsonLayout" 
                                includeAllProperties="true" 
                                excludeProperties="">
                                <attribute name="time" 
                                        layout="${longdate}" />
                                <attribute name="level" 
                                        layout="${level:upperCase=true}" />
                                <attribute name="session-id" 
                                        layout="${aspnet-sessionid}" />
                                <attribute name="logger" 
                                        layout="${logger}"/>
                                <attribute name="message" 
                                        layout="${message}" />

                                <attribute name="exception" 
                                        layout="${exception:format=@:innerFormat=@:maxInnerExceptionLevel=5}" 
                                        encode="false" />
                                <attribute name="exception-b" 
                                        layout="${json-encode:inner=${exception:format=Message,Type,ToString,Method,StackTrace,Data:innerFormat=Message,Type,ToString,Method,StackTrace,Data:maxInnerExceptionLevel=5}}" 
                                        encode="true" />

                                <attribute name="stacktrace" 
                                        layout="${stacktrace:format=Raw}" 
                                        encode="true" />

                                <attribute name="url" 
                                        layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true:IncludeScheme=true}"/>
                                <attribute name="user-agent" 
                                        layout="${aspnet-request-useragent}"/>

                                <attribute name="request-referrer" 
                                        layout="${aspnet-request-referrer}"/>

                                <attribute name="assembly-version" 
                                        layout="${assembly-version:type=Informational}"/>
                                <attribute name="machine" 
                                        layout="${machinename}"/>
                                <attribute name="client-ip" 
                                        layout="${aspnet-request-ip}"/>
                                <attribute name="cookie" 
                                        layout="${aspnet-request-cookie:cookieNames=mlpoca-session-tag:outputFormat=Json}"/>
                                <attribute name="user" 
                                        layout="${json-encode:inner=${aspnet-user-identity}}"/>

                                <attribute name="call-site" 
                                        layout="${callsite:includeNamespace=true:className=true:fileName=true:includeSourcePath=false:methodName=true}" />
                                <attribute name="call-site-b" 
                                        layout="${callsite:includeNamespace=true:className=true:fileName=true:includeSourcePath=true:methodName=true}" />

                                <attribute name="all-event-properties-1" 
                                        layout="${all-event-properties}" />
                                <attribute name="all-event-properties-2" 
                                        layout="${json-encode:jsonEncode=true:inner=${all-event-properties}}" />


                                <attribute name="session-ID-lastTag" 
                                        layout="${aspnet-sessionid}" />

                        </layout>
                </target>

                <!-- Add debugger target -->
                <target xsi:type="Debugger"
                        name="debuglogger"
                        layout="${uppercase:${level}}-${logger} ${message} ${newline}${exception:format=tostring}">
                </target>
        </targets>
        <!-- 
        layout="${json-encode:jsonEncode=true:inner=${aspnet-user-identity}}"/>  
        ${json-encode:inner=${aspnet-user-identity}}
        
        <attribute name="eventProperties" encode="false">
                <layout type='JsonLayout' includeAllProperties="true" maxRecursionLimit="2"/>
        </attribute>
        -->


        <!-- rules to map from logger name to target -->
        <rules>
                <!--
                -->

                <!--All logs, including from Microsoft-->
                <logger name="*" 
                        minlevel="Trace" 
                        writeTo="allfile" />

                <!--Skip non-critical Microsoft logs and so log only own logs-->
                <logger name="Microsoft.*" 
                        minlevel="Trace" 
                        final="true" />
                <!-- BlackHole without writeTo -->


                <logger name="mlpoca.Pages.NLogTestModel" 
                        minlevel="Debug" 
                        writeTo="nlog-test-page-JSON" />

                <logger name="*" 
                        minlevel="Info" 
                        writeTo="debuglogger" />

        </rules>
</nlog>
