<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="/home/sak/Documents/nlog-tests/nlog-10-internal.log"
	  >
  <variable value="ML_POC_A"
			      name="appName"/>
	<variable value="/home/sak/Documents/nlog-tests"
			      name="logLocation"/>
        
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" 
			name="allfile" 
			fileName="${logLocation}/${appName}/nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
			/>

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" 
			name="ownFile-web" 
			fileName="${logLocation}/${appName}/nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" 
			/>

    <!-- Nlog test file -->
    <target xsi:type="File" 
			name="nlog-test-page" 
			fileName="${logLocation}/${appName}/nlog-test-${shortdate}.log"
            layout="${longdate}| LVL: ${uppercase:${level}}| SESS_ID: ${aspnet-sessionid}| LOGGER: ${logger}| MESG: ${message} | ${onexception:inner=${newline}EXCEPTION\: ${newline}${exception:format=tostring}${newline}STACK\: ${newline}${stacktrace:format=Raw}}| URL: ${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}| USERAGENT: ${aspnet-request-useragent}| ISAUTH: ${aspnet-user-isAuthenticated}| ASMBLYVER: ${assembly-version:type=Informational}| MC_NAME: ${machinename}| IP: ${aspnet-request-ip}| COOKIE: ${aspnet-request-cookie:outputFormat=Json}| ${when:when='${aspnet-user-isAuthenticated}' == '1':inner=USER\: ${aspnet-user-identity}:else=USER\: Anonymous}| ${aspnet-user-identity}| {end-of-entry}" 
            
            
            
			/>

      <!-- 
      todo: Debug foll
        $CALLSITE: {callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}
        $LINE: {callsite-linenumber:skipFrames=0}
        ${when:when='${aspnet-user-isAuthenticated}' == '1':inner=USER\: ${aspnet-user-identity}:else=USER\: Anonymous}
      -->

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" 
			minlevel="Trace" 
			writeTo="allfile" 
			/>

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" 
			maxLevel="Info" 
			final="true" 
			/> <!-- BlackHole without writeTo -->

    <logger name="*" 
			minlevel="Trace" 
			writeTo="ownFile-web" 
			/>

                  
    <logger name="mlpoca.Pages.NLogTestModel" 
			minlevel="Trace" 
			writeTo="nlog-test-page" 
			/>

  </rules>
</nlog>
