@page
@model SigninModel
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment hostingEnv


@{
    ViewData["Title"] = "Sign In";
}

<div class="row">
	<div class="display-1">Sign In Page - Redirect</div>
</div>
<div class="row">

	<div class="col-12 h3">@hostingEnv.EnvironmentName</div>
</div>
